

<section id="presentation" class="text-center">
    <div class="container">
        @{
            var daysRemaining = (new DateTime(2020, 2, 29) - DateTime.Now).Days;
        }
        <div class="top">@daysRemaining days to the event</div>
        <img src="/img/hero-logo.png">
        <h1 class="edition">2020</h1>
        <div class="location mt-5">29 February 2020 | International Hotel, Iasi, Romania</div>
    </div>
</section>
@*<div class="col-12 text-center">
        <h1 class="display-2">These are our speakers</h1>
    </div>*@
<div id="speakers-list" class="container">
        @{
            var speakers = new List<SpeakerListItemViewModel>
            {
                new SpeakerListItemViewModel
                {
                    Name = "Aaron Stannard",
                    Position = "Co-founder of Petabridge",
                    PhotoUrl = "Aaron_Stannard.png",
                    SocialLinks = new List<SocialLink>
                    {
                        new SocialLink
                        {
                            Type = SocialLinkType.Facebook,
                            Url = "http://facebook.com/dotnetdays.ro"
                        },
                        new SocialLink
                        {
                            Type = SocialLinkType.Twitter,
                            Url = "https://twitter.com/dotnetdaysro"
                        },
                        new SocialLink
                        {
                            Type = SocialLinkType.Meetup,
                            Url = "https://meetup.com/NET-User-Group-Iasi/"
                        }
                    }
                },
                new SpeakerListItemViewModel
                {
                    Name = "Michael Kaufmann",
                    Position = "Software Arhitect Microsoft",
                    PhotoUrl = "Michael_Kaufman.png",
                    SocialLinks = new List<SocialLink>
                    {
                        new SocialLink
                        {
                            Type = SocialLinkType.Facebook,
                            Url = "http://facebook.com/dotnetdays.ro"
                        },
                        new SocialLink
                        {
                            Type = SocialLinkType.Twitter,
                            Url = "https://twitter.com/dotnetdaysro"
                        }
                    }

                },
                new SpeakerListItemViewModel
                {
                    Name = "Irina Scurtu",
                    Position = "Software Architect Endava",
                    PhotoUrl = "irina-scurtu-small.png",
                    SocialLinks = new List<SocialLink>
                    {
                        new SocialLink
                        {
                            Type = SocialLinkType.Twitter,
                            Url = "https://twitter.com/irina_scurtu"
                        },
                        new SocialLink
                        {
                            Type = SocialLinkType.Linkedin,
                            Url = "https://www.linkedin.com/in/irinascurtu/"
                        }
                    }
                },
                new SpeakerListItemViewModel
                {
                    Name = "Jon Galloway",
                    Position = "Executive director .NET Foundation",
                    PhotoUrl = "Jon-Galloway.jpeg",
                    SocialLinks = new List<SocialLink>
                    {
                        new SocialLink
                        {
                            Type = SocialLinkType.Facebook,
                            Url = "http://facebook.com/dotnetdays.ro"
                        },
                        new SocialLink
                        {
                            Type = SocialLinkType.Twitter,
                            Url = "https://twitter.com/dotnetdaysro"
                        }
                    }


            }};
                

        }
<div class="row text-center">
    @{ await Html.RenderPartialAsync("_SpeakerList", speakers); }
</div>
<div class="row text-center">
    @{ await Html.RenderPartialAsync("_SpeakerList", speakers); }
</div>

</div>