@model ICollection<SpeakerListItemViewModel>

@{
    List<SpeakerListItemViewModel> speakers = DummyEntity.Speakers.ToList();
    speakers.AddRange(speakers);
    speakers.AddRange(speakers);
}

<section id="presentation" class="text-center">
    <div class="container">
        @{
            int daysRemaining = (new DateTime(2020, 2, 29) - DateTime.Now).Days;
        }
        <div class="top">@daysRemaining days to the event</div>
        <img src="/img/hero-logo.png">
        <h1 class="edition">2020</h1>
        <div class="location">29 February 2020 | International Hotel, Iasi, Romania</div>
    </div>
</section>
<div id="speakers-list" class="container">
    @{ await Html.RenderPartialAsync("_SpeakerList", Model); }
</div>