@model ICollection<SpeakerListItemViewModel>

@{
    var index = 0;
}

@foreach (SpeakerListItemViewModel item in Model)
{
    if (index == 0 || index % 4 == 0)
    {
        @Html.Raw("<div class=\"row text-center\">");
    }

    await Html.RenderPartialAsync("_SpeakerListItem", item);

    if (index > 0 && index % 4 == 3)
    {
        @Html.Raw("</div>");
    }

    index++;
}

@if (index > 0 && index % 4 != 3)
{
    @Html.Raw("</div>");
}