@model ICollection<WorkshopListItemViewModel>

@{
    ViewData["Title"] = "Workshops";

    List<WorkshopListItemViewModel> workshops = DummyEntity.Workshops.ToList();
    workshops.AddRange(workshops);
    workshops.AddRange(workshops);
}

<section class="container">
    <div class="mt-1">
        <h1 class="title1 display-4">Workshops</h1>
    </div>
    <div class="workshops-wrapper">
        @{ await Html.RenderPartialAsync("_WorkshopList", Model); }
    </div>
</section>