@model ICollection<SpeakerListItemViewModel>

@{
    ViewData["Title"] = "Speakers";

    List<SpeakerListItemViewModel> speakers = DummyEntity.Speakers.ToList();
    speakers.AddRange(speakers);
    speakers.AddRange(speakers);
}

<div id="speakers-list" class="container mt-1">
    <h1 class="title1 display-4">Speakers</h1>

    @{ await Html.RenderPartialAsync("_SpeakerList", Model); }
</div>